:root {
    --bg-color: #94a3b8;
    --board-color: #e2e8f0;
    --btn-color: #cbd5e1;
    --border-color: #0f172a;
    --txt-color: #0f172a;

    --corner-rad: .625rem;
}

* {
    box-sizing: border-box;
    line-height: 1.1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var();
    background-color: var(--bg-color);
    font-family: sans-serif;
}

#container {
    width: 46.875rem;
    height: 46.875rem;
    display: grid;
    grid-template-rows: 5fr 1fr;
}

#board {
    background-color: var(--board-color);
    box-shadow: .5rem .5rem var(--border-color);   
    border-radius: var(--corner-rad);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3.125rem;
    padding: 3.125rem;

    .square {
        box-shadow: .5rem .5rem var(--border-color);
        background-color: var(--btn-color);   
        border-radius: var(--corner-rad);
    }
}

#select {
    height: 4.6875rem;
    padding: 1.25rem;
    
    span {
        font-size: 1.5625rem;
    }

    button {
        background-color: var(--border-color);
        color: var(--btn-color);
        border: none;
        padding: .625rem;
        font-size: 1.5625rem;
        font-weight: bold;
        width: 3.125rem;
        height: 3.125rem;
        border-radius: var(--corner-rad);
    }
}