:root {
    --standard-margin: .625rem;
    --border-rad: 1.25rem;
    --gap: 1.875rem;

    --bg-cl: rgb(10, 10, 10);
    --cell-cl: rgba(248, 250, 252, 0.15);
    --cell-cl-win: rgba(248, 250, 252, 0.2);

    --p1-cl: rgb(185, 28, 28);
    --p1-grad: radial-gradient(var(--p1-cl), transparent);

    --p2-cl: rgb(29, 78, 216);
    --p2-grad: radial-gradient(var(--p2-cl), transparent);

    --winner-cl: rgb(132, 204, 22);
    --winner-grad: radial-gradient(var(--winner-cl), transparent);
}

//

* {
    line-height: 1.1;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;

    background-color: var(--bg-cl);
    background-size: cover;

    color: darkcyan;
}

#container {
    width: min-content;
    z-index: 1;
}

// gradients

#p1-grad-cr, #p2-grad-cr {
    position: absolute;
    z-index: 0;
    width: 62.5rem;
    height: 62.5rem;
}

#p1-grad-cr {
    background-image: var(--p1-grad);
    top: 0;
    left: 0;
}

#p2-grad-cr {
    background-image: var(--p2-grad);
    bottom: 0;
    right: 0;
}

// Modal

#modal {
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        margin: 0;
    }

    form {
        fieldset {
            border: none;
            margin: var(--standard-margin);
        }

        button {
            align-self: center;
        }
    }
}

// game

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--gap);
    border-radius: var(--border-rad);
    background-color: var(--bg-cl);

    .cell {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 12.5rem;
        width: 12.5rem;

        font-size: 9.375rem;
        font-family: "Funnel Display", sans-serif;
        font-style: normal;
        font-weight: 500;

        background-color: var(--cell-cl);

        .winner {
            background-color: var(--cell-cl-win);
        }
    }

    :nth-child(1) {
        border-radius: var(--border-rad) 0rem 0rem 0rem;
    }

    :nth-child(3) {
        border-radius: 0rem var(--border-rad) 0rem 0rem;
    }

    :nth-child(7) {
        border-radius: 0rem 0rem 0rem var(--border-rad);
    }

    :nth-child(9) {
        border-radius: 0rem 0rem var(--border-rad) 0rem;
    }
}